
<div id="footer" class="row">

  <div class="col-xl-4"
       style="background-color:#9E1B30;">
    <div class="row">
      <div class="col-xl-3"></div>

      <div class="col-xl-9" style="margin-top:126px; ">
        <div style="text-align: center;">
          <img src="assets/images/logo.png" height="120px">
        </div>
        <p style="margin: 20px 0 0 0; font-size: 18px;
                        font-weight:400; color: #F8C73F;
                        text-align: center;">
          GIỮ TÍN NHIỆM HƠN GIỮ VÀNG</p>
        <p style="margin: 10px 0 0 0;
                    font-weight:400; color:white;
                    text-align: center;">
          1992 - 2021 CÔNG TY TNHH BẢO TÍN MẠNH HẢI</p>
        <p style="margin: 10px 0 0 0;
                    font-weight:400; color:white;
                    text-align: center;">
          All Rights reserved</p>
      </div>

    </div>
  </div>

  <div class="col-xl-8" style="padding: 26px 30px;
                                background-color: #272535;">
    <div class="row">
      <div class="col-xl-8">
        <div id="address">
          <h3>CÔNG TY VÀNG BẠC ĐÁ QUÝ BẢO TÍN MẠNH HẢI</h3>
          <p style="color: gold;">Chi nhánh 1: 39 Nguyễn Trãi, Quận Thanh Xuân</p>
          <p style="color: gold;">Chi nhánh 2: 15 Quang Trung, Quận Hà Đông</p>
          <p style="color: gold;">Chi nhanh 3: 16 Trần Duy Hưng, Quận Cầu Giấy</p>
          <p style="color: gold;">Chi nhánh 4: 8 Hoàng Cầu, Quận Đống Đa, Hà Nội</p>
          <p style="color: gold;">Chi nhánh 5: 44 Cầu Gỗ, Quận Hoàn Kiếm, Hà Nội</p>
          <p style="color: gold;">Hotline: 024 2233 9999</p>
          <p style="color: gold;">Email: contact@baotinmanhhai.vn</p>
        </div>
      </div>
      <div class="col-xl-3">
        <a href="#">
          <img src="assets/images/boCongthuong.png"
               width="270px" height="102px">
        </a>
      </div>
    </div>

    <div class="row" style="margin-top: 40px; padding:0 15px;">
      <a href="#">
        <img src="assets/images/facebook.png">
      </a>
      <a href="#" style="margin-left: 20px;">
        <img src="assets/images/google-plus.png">
      </a>
      <a href="#" style="margin-left: 20px;">
        <img src="assets/images/youtube.png">
      </a>
      <a href="#" style="margin-left: 20px;">
        <img src="assets/images/zalo1.png">
      </a>
      <a href="#" style="margin-left: 20px;">
        <img src="assets/images/Instagram.png">
      </a>
    </div>

    <div class="row" style="margin-top:30px;">
      <div class="col-xl-10">
        <div class="row">
          <div class="col-xl-3">
            <h4>
              Đăng Ký Thông Tin</h4>
            <p style="margin:20px 0;line-height: 23px;">
              Hãy để lại thông tin của bạn,
              chúng tôi sẽ sớm liên hệ để cung cấp thông tin
              chính xác sớm và phù hợp nhất.</p>
            <br>
            <br>
            <form action="#">
              <input type="email" style="background-color: #9E1B30;border-color: #9E1B30; color: white"
                     placeholder="Nhập email của bạn ...">
              <button type="submit" style="background-color: #9E1B30; border-color: #9E1B30">
                <img src="assets/images/go.png" height="5px" alt="">
              </button>
            </form>
          </div>
          <div class="col-xl-3">
            <h4>Bảo Tín Mạnh Hải</h4>
            <div style="margin:20px 0; line-height: 23px;">
              <a href="#" style="text-decoration: none;">Trang chủ</a><br>
              <a href="#" style="text-decoration: none;">Giới thiệu BTMH</a><br>
              <a href="#" style="text-decoration: none;">Sản phẩm</a><br>
              <a href="#" style="text-decoration: none;">Tin tức-Sự kiện</a><br>
              <a href="#" style="text-decoration: none;">Video</a><br>
            </div>
            <div class="link-custom">
              <a href="#">Hệ thống vàng bảo tín</a>
            </div>
          </div>
          <div class="col-xl-3">
            <h4>Hỗ Trợ Mua Hàng</h4>
            <div style="margin:20px 0; line-height: 23px;">
              <a href="#" style="text-decoration: none;">Hướng dẫn mua hàng</a><br>
              <a href="#" style="text-decoration: none;">Hướng dẫn thanh toán</a><br>
              <a href="#" style="text-decoration: none;">Phương thức vận chuyển</a><br>
              <a href="#" style="text-decoration: none;">Bảo hành thu đổi</a><br>
              <a href="#" style="text-decoration: none;">Đo size trang sức</a><br>
              <a href="#" style="text-decoration: none;">Cách sử dụng trang sức</a><br>
              <a href="#" style="text-decoration: none;">Tra cứu đơn hàng</a><br>
              <a href="#" style="text-decoration: none;">Chính sách bảo vệ thông tin cá nhân của người
                dùng</a><br>
            </div>
          </div>
          <div class="col-xl-3">
            <h4>Cẩm Nang Sử Dụng</h4>
            <div style="margin:20px 0; line-height: 23px;">
              <a href="#" style="text-decoration: none;">Trang sức theo tháng sinh</a><br>
              <a href="#" style="text-decoration: none;">Trang sức theo phong thủy</a><br>
              <a href="#" style="text-decoration: none;">Đo size trang sức</a><br>
              <a href="#" style="text-decoration: none;">Cách sử dụng trang sức</a><br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-10">
        <h4 style="padding: 20px 0 0 0;
                            border: none;
                            border-top: 1.5px solid white ">CÔNG TY TNHH BẢO TÍN MẠNH HẢI</h4>
        <p style="margin: 20px 0 0 0">Số 39, Nguyễn Trãi, Phường Khương Trung, Quận Thanh Xuân, Hà Nội - ĐT: 024
          2233 9999 - Email: contact@baotinmanhhai.vn</p>
        <p>Giấy chứng nhận đăng ký kinh doanh: 0100380838</p>
      </div>
    </div>
  </div>

</div>
