<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
    <li data-target="#demo" data-slide-to="5"></li>
    <li data-target="#demo" data-slide-to="6"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/Screenshot_1_sildeshow.png">
    </div>
    <div class="carousel-item">
      <img src="assets/images/Screenshot_2_slideshow.png">
    </div>
    <div class="carousel-item">
      <img src="assets/images/Screenshot_3_sildeshow.png">
    </div>
    <div class="carousel-item">
      <img src="assets/images/Screenshot_4_sildeshow.png">
    </div>
    <div class="carousel-item">
      <img src="assets/images/Screenshot_5_sildeshow.png">
    </div>
    <div class="carousel-item">
      <img src="assets/images/Screenshot_6_sildeshow.png">
    </div>
    <div class="carousel-item">
      <img src="assets/images/Screenshot_7_sildeshow.png">
    </div>
  </div>


</div>
<!--<div class="slideshow-container" a>-->

<!--    <div class="mySlides fade-homepage">-->
<!--        <img class="img-fluid" src="images/Screenshot_1_sildeshow.png" >-->
<!--    </div>-->

<!--    <div class="mySlides fade-homepage">-->
<!--        <img class="img-fluid" src="images/Screenshot_2_slideshow.png" >-->
<!--    </div>-->

<!--    <div class="mySlides fade-homepage">-->
<!--        <img class="img-fluid" src="images/Screenshot_3_sildeshow.png">-->
<!--    </div>-->

<!--    <div class="mySlides fade-homepage">-->
<!--        <img class="img-fluid" src="images/Screenshot_4_sildeshow.png" >-->
<!--    </div>-->

<!--    <div class="mySlides fade-homepage">-->
<!--        <img class="img-fluid" src="images/Screenshot_5_sildeshow.png" >-->
<!--    </div>-->

<!--    <div class="mySlides fade-homepage">-->
<!--        <img class="img-fluid" src="images/Screenshot_6_sildeshow.png">-->
<!--    </div>-->


<!--</div>-->
<!--<br>-->

<!--<div style="text-align:center">-->
<!--    <span class="dot" onclick="currentSlide(1)"></span>-->
<!--    <span class="dot" onclick="currentSlide(2)"></span>-->
<!--    <span class="dot" onclick="currentSlide(3)"></span>-->
<!--    <span class="dot" onclick="currentSlide(4)"></span>-->
<!--    <span class="dot" onclick="currentSlide(5)"></span>-->
<!--    <span class="dot" onclick="currentSlide(6)"></span>-->
<!--</div>-->

<nav class="navbar navbar-expand-sm bg-light justify-content-center" style="border-bottom: 3px solid gold;">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#" onMouseOver="this.style.color='gold'"
         onMouseOut="this.style.color='black'" style="text-transform: uppercase; color: black">Trang sức vàng</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" onMouseOver="this.style.color='gold'"
         onMouseOut="this.style.color='black'" style="text-transform: uppercase; color: black">Trang sức bạc</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" onMouseOver="this.style.color='gold'"
         onMouseOut="this.style.color='black'" style="text-transform: uppercase; color: black">Trang sức cưới</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" onMouseOver="this.style.color='gold'"
         onMouseOut="this.style.color='black'" style="text-transform: uppercase; color: black">Kim cương</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" onMouseOver="this.style.color='gold'"
         onMouseOut="this.style.color='black'" style="text-transform: uppercase; color: black ">Đá quý</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" onMouseOver="this.style.color='gold'"
         onMouseOut="this.style.color='black'" style="text-transform: uppercase; color: black">Ngọc trai</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" onMouseOver="this.style.color='gold'"
         onMouseOut="this.style.color='black'" style="text-transform: uppercase; color: black">Quà tặng</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" onMouseOver="this.style.color='gold'"
         onMouseOut="this.style.color='black'" style="text-transform: uppercase; color: black">Bộ sưu tập</a>
    </li>
  </ul>
</nav>
<br>

<div style="width: 100%; background: url(https://baotinmanhhai.vn/web/uploads/slide/2568_2.jpg);background-repeat: no-repeat; background-size: contain;">

  <div class="container__top_logo">
    <img style="height: 120px;" class="img-responsive" src="assets/images/logo.png"/>

    <h5 style="text-transform: uppercase; font-size: 18px">Giữ tín nhiệm hơn giữ vàng</h5>
  </div>
  <div class="container__top_menu">
    <h2 style="text-align: center">Trang sức</h2>
    <div class="container hidden-xs hidden-sm">
      <ul>
        <li><a href="">Nhẫn</a></li>
        <li><a href="">Bông tai</a></li>
        <li><a href="">Mặt dây chuyền</a></li>
        <li><a href="">Dây chuyền</a></li>
        <li><a href="">Kiềng</a></li>
        <li><a href="">Lắc</a></li>
        <li><a href="">Vòng tay</a></li>
        <li><a href="">Xem tất cả</a></li>
      </ul>
    </div>
  </div>
</div>


<h4 style="text-transform: uppercase; text-align: center; color: black; padding-bottom: 50px; padding-top: 50px; font-size: 22px">
  Sản phẩm mới</h4>


<div class="container">
  <button type="button" class="slick-prev">Previous</button>
  <div class="responsive">

    <div class="container__product_card " style="border: 1px solid #E5E5E5 ;" *ngFor="let carousel of lstCarousel">

        <img class="img-responsive" src="{{carousel.img}}" style="height: 300px">
        <h6 style="font-weight: bold;">{{carousel.name}}</h6>
        <h6>{{carousel.code}}</h6>
        <h6 style="color: #9E1B30">{{carousel.contact}}</h6>

    </div>

<!--    <div class="container__product_card" style="border: 1px solid #E5E5E5 ;">-->

<!--      <img class="img-responsive"-->
<!--           src="https://baotinmanhhai.vn/web/uploads/product/Originals/bac/bac tre em/lac%20bi%20bac%20meo%20kitty%20xanh.jpg"-->
<!--           style="height: 300px">-->
<!--      <h6 style="font-weight: bold;">Lắc bi bạc trẻ em mèo Kitty xanh lá MH2 - L180426013</h6>-->
<!--      <h6>Mã sản phẩm: MH2 - L180426013</h6>-->
<!--      <h6 style="color: #9E1B30">Liên hệ</h6>-->

<!--    </div>-->
<!--    <div class="container__product_card" style="border: 1px solid #E5E5E5 ;">-->

<!--      <img class="img-responsive"-->
<!--           src="https://baotinmanhhai.vn/web/uploads/product/Originals/bac/bac tre em/vong%20bac%20meo%20kitty.jpg"-->
<!--           style="height: 300px">-->
<!--      <h6 style="font-weight: bold;">Vòng bạc mèo Kitty cho bé MH2 - V180402001</h6>-->
<!--      <h6>Mã sản phẩm: MH2 - V180402001</h6>-->
<!--      <h6 style="color: #9E1B30">Liên hệ</h6>-->

<!--    </div>-->
<!--    <div class="container__product_card" style="border: 1px solid #E5E5E5 ;">-->

<!--      <img class="img-responsive"-->
<!--           src="https://baotinmanhhai.vn/web/uploads/product/Originals/vang tay 2018/lắc/day3-169.jpg"-->
<!--           style="height: 300px">-->
<!--      <h6 style="font-weight: bold;">Vòng tay gắn đá Citrine MH1 - V</h6>-->

<!--      <h6>Mã sản phẩm: MH1 - V</h6>-->
<!--      <h6 style="color: #9E1B30">Liên hệ</h6>-->

<!--    </div>-->
<!--    <div class="container__product_card" style="border: 1px solid #E5E5E5 ;">-->

<!--      <img class="img-responsive"-->
<!--           src="https://baotinmanhhai.vn/web/uploads/product/Originals/bac/bac xi - focus on me/IMG_4803.2.jpg"-->
<!--           style="height: 300px">-->
<!--      <h6 style="font-weight: bold;">Nhẫn bạc gắn đá trắng tròn N170825011</h6>-->
<!--      <h6>Mã sản phẩm: N170825011</h6>-->
<!--      <h6 style="color: #9E1B30">Liên hệ</h6>-->

<!--    </div>-->
<!--    <div class="container__product_card" style="border: 1px solid #E5E5E5 ;">-->

<!--      <img class="img-responsive"-->
<!--           src="https://baotinmanhhai.vn/web/uploads/product/Originals/Bo Suu Tap/BST Family Love/nhan%20s%201.png"-->
<!--           style="height: 300px">-->
<!--      <h6 style="font-weight: bold;">Nhẫn mặt trái tim gắn đá Sapphire MH2 - N171212002</h6>-->
<!--      <h6>Mã sản phẩm: MH2 - N171212002</h6>-->
<!--      <h6 style="color: #9E1B30">Liên hệ</h6>-->

<!--    </div>-->

  </div>
  <button type="button" class="slick-next">Next</button>
</div>
<h4 style="text-transform: uppercase; text-align: center; color: black; padding-bottom: 50px; padding-top: 50px; font-size: 22px">
  Sản phẩm nổi bật</h4>

<div class="container__banner">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6 col-xs-12 col-sm-12 category" style="height: 345px;">
        <div class="background"
             style="background-image: url('https://baotinmanhhai.vn/web/uploads/oanh/banner%20%289%29.jpg');background-size: cover; "></div>
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12 category" style="height: 345px;">
        <div class="background"
             style="background-image: url('https://www.baotinmanhhai.vn/web/uploads/oanh/baiweb%20%282%29.jpg');background-size: cover; "></div>
      </div>
    </div>
  </div>
</div>


<br>
<h4 style="text-transform: uppercase; text-align: center; color: black; padding-bottom: 50px; padding-top: 50px; font-size: 22px">
  Tin tức</h4>

<div class="container">
  <div class="container__news_left row">
    <div class="container_news_item col-md-4 col-xs-6 col-sm-6">
      <img class="img-responsive" src="https://baotinmanhhai.vn/web/uploads/oanh/nen%20quay%20so%20%281%29.jpg"/>
      <div class="container_news_item__name">
        <h3>
          <a href="/bai-viet/bao-tin-manh-hai-cong-bo-ket-qua-chuong-trinh-quay-so-van-qua-tet-%E2%80%93-don-xuan-sang-dot-1">
            BẢO TÍN MẠNH HẢI CÔNG BỐ KẾT QUẢ CHƯƠNG TRÌNH QUAY SỐ VẠN QUÀ TẾT – ĐÓN XUÂN SANG ĐỢT 1</a>
        </h3>
      </div>

      <div class="container_news_item__description hidden-xs hidden-sm">
        (BTMH) &ndash; Chương tr&igrave;nh quay số tr&uacute;ng thưởng &ldquo;Vạn qu&agrave; tết &ndash; Đ&oacute;n
        xu&acirc;n sang&rdquo; được livestream trực tiếp v&agrave;o ng&agrave;y 20/2 (m&ugrave;ng 9 tết) đ&atilde;
        t&igrave;m được những vị kh&aacute;ch...
      </div>
      <a class="view-more"
         href="/bai-viet/bao-tin-manh-hai-cong-bo-ket-qua-chuong-trinh-quay-so-van-qua-tet-%E2%80%93-don-xuan-sang-dot-1">Xem
        chi tiết ></a>
    </div>
    <div class="container_news_item col-md-4 col-xs-6 col-sm-6">
      <img class="img-responsive"
           src="https://baotinmanhhai.vn/web/uploads/oanh/Ki%E1%BB%81ng%20v%C3%A0ng%2024K%20%281%29.jpg"/>
      <div class="container_news_item__name">
        <h3>
          <a href="/bai-viet/gia-vang-dau-nam-moi-dau-hieu-giam-manh-truoc-ngay-via-than-tai"> GIÁ VÀNG ĐẦU
            NĂM MỚI DẤU HIỆU GIẢM MẠNH TRƯỚC NGÀY VÍA THẦN TÀI</a>
        </h3>
      </div>

      <div class="container_news_item__description hidden-xs hidden-sm">
        (BTMH) &ndash; Mở cửa s&aacute;ng ng&agrave;y 18/2 (m&ugrave;ng 7 tết) gi&aacute; v&agrave;ng trong nước
        c&oacute; dấu hiệu giảm mạnh theo gi&aacute; v&agrave;ng thế giới.
      </div>
      <a class="view-more"
         href="/bai-viet/gia-vang-dau-nam-moi-dau-hieu-giam-manh-truoc-ngay-via-than-tai">Xem
        chi tiết ></a>
    </div>
    <div class="container_news_item col-md-4 col-xs-6 col-sm-6">
      <img class="img-responsive"
           src="https://baotinmanhhai.vn/web/uploads/oanh/than%20tai%20web%207%20%281%29.jpg"/>
      <div class="container_news_item__name">
        <h3>
          <a href="/bai-viet/via-than-tai-tan-suu-2021-nen-mua-gi-de-may-man-ca-nam"> VÍA THẦN TÀI TÂN SỬU
            2021 NÊN MUA GÌ ĐỂ MAY MẮN CẢ NĂM</a>
        </h3>
      </div>

      <div class="container_news_item__description hidden-xs hidden-sm">
        (BTMH) &ndash; Ng&agrave;y v&iacute;a thần t&agrave;i sẽ trở n&ecirc;n thật &yacute; nghĩa nếu như chọn
        được cho m&igrave;nh những sản phẩm ưng &yacute; để mang lại may mắn cho cả năm, dưới đ&acirc;y sẽ l&agrave;
        gợi &yacute; về c&aacute;c...
      </div>
      <a class="view-more"
         href="/bai-viet/via-than-tai-tan-suu-2021-nen-mua-gi-de-may-man-ca-nam">Xem
        chi tiết ></a>
    </div>
  </div>
</div>
<div class="row justify-content-center" style="width: 100%">

  <a href="/tin-tuc" class="view_all" style="text-decoration: none">Xem nhiều hơn</a>

</div>

<div class="container__home_about container">
  <div class="row">
    <div class="col-md-7 col-sm-12 col-xs-12" style="background-color: #9E1B30; color: white;padding: 30px;">
      <h1 style="padding: 40px 0 0px;font-size: 18px; font-weight: bold;margin-top: 0;">GIỚI THIỆU BẢO TÍN MẠNH
        HẢI</h1>
      <p>Lấy ng&agrave;nh v&agrave;ng l&agrave; ng&agrave;nh kinh doanh cốt lỗi, trong gần 28 năm h&igrave;nh th&agrave;nh
        v&agrave; ph&aacute;t triển Bảo T&iacute;n Mạnh Hải đ&atilde; v&agrave; đang l&agrave; một trong số
        &iacute;t những thương hiệu ng&agrave;nh v&agrave;ng nổi tiếng của Việt Nam nhận được sự tin tưởng, y&ecirc;u
        qu&yacute; của kh&aacute;ch h&agrave;ng.</p>
      <p>Bảo T&iacute;n Mạnh Hải đồng thời l&agrave; th&agrave;nh vi&ecirc;n của Gia đ&igrave;nh Bảo T&iacute;n -
        Gia đ&igrave;nh c&oacute; truyền thống tinh hoa l&acirc;u đời nhất tại miền Bắc Việt Nam trong nghề v&agrave;ng.
        Bảo T&iacute;n Mạnh Hải lu&ocirc;n đặt sự t&iacute;n nhiệm của kh&aacute;ch h&agrave;ng v&agrave; văn ho&aacute;
        gia đ&igrave;nh gắn kết l&agrave;m triết l&yacute; kinh doanh v&agrave; gi&aacute; trị nền tảng cho sự
        ph&aacute;t triển.</p>
      <p>Bảo T&iacute;n Mạnh Hải lu&ocirc;n t&acirc;m niệm &ldquo;V&agrave;ng l&agrave; mồ h&ocirc;i nước mắt, t&agrave;i
        sản qu&yacute; trong mỗi gia đ&igrave;nh, người kinh doanh tr&ecirc;n thứ t&agrave;i sản ấy phải c&oacute;
        một tấm l&ograve;ng v&agrave;ng&rdquo;. Đ&acirc;y ch&iacute;nh l&agrave; kim chi nam cho mọi hoạt động
        kinh doanh v&agrave;ng dựa tr&ecirc;n chữ T&Acirc;M, T&Iacute;N v&agrave; T&Agrave;I...</p>
      <div class="container__home_about_left_view-more">
        <a href="/gioi-thieu">Giới thiệu chi tiết</a>
      </div>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12">
      <iframe width="100%" height="450" style="max-height: 100%" src="https://www.youtube.com/embed/0IHoWBi0cyM"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
  </div>
</div>

<h4 style="text-transform: uppercase; text-align: center; color: black; padding-bottom: 50px; padding-top: 50px;font-size: 22px">
  Dịch vụ của chúng tôi</h4>

<div class="container">
  <div class="row" style="background-color: #EFEFF4;    padding-bottom: 25px;">


    <div class="col-md-4">
      <div class="container__home_service_box">
        <img class="img-responsive"
             src="https://baotinmanhhai.vn/web/uploads/xu-huong-nhan-cuoi-2017-1.jpg"/>
        <h3>TÂN TRANG, SỬA CHỮA TRANG SỨC</h3>
        <p style="margin: 0 0 10px; color: black">Dịch vụ gồm thợ kim hoàn lành nghề và sử dụng công nghệ
          cao</p>
        <a href="">Tìm hiểu thêm</a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="container__home_service_box">
        <img class="img-responsive"
             src="https://baotinmanhhai.vn/web/uploads/anh2_0.jpg"/>
        <h3>GIÁM ĐỊNH TUỔI VÀNG</h3>
        <p style="margin: 0 0 10px; color: black">Dịch vụ giám định tuổi vàng với máy móc hiện đại nhanh chóng
          và chính
          xác</p>
        <a href="">Tìm hiểu thêm</a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="container__home_service_box">
        <img class="img-responsive"
             src="https://baotinmanhhai.vn/web/uploads/gia-vang-hom-nay-29-7-2016.1.1.jpg"/>
        <h3>GIA CÔNG CHẾ TÁC</h3>
        <p style="margin: 0 0 10px; color:  black">Dịch vụ gia công chế tác với chất lượng sản phẩm tinh xảo và
          giá cả hợp
          lý</p>
        <a href="">Tìm hiểu thêm</a>
      </div>
    </div>

  </div>
</div>

<div class="container" style="padding-top: 30px;padding-bottom: 30px">
  <div class=" container__home_footer row">

    <div class="col-md-3 col-sm-12 col-xs-6 px-2">
      <div class="container__home_footer_box container">

        <div class="col-md-3">
          <img class="img-responsive" src="https://baotinmanhhai.vn/web/uploads/banner/diamond.png"/>
        </div>
        <div class="col-md-9">
          <h3>MIỄN PH&Iacute;</h3>
          <p>L&Agrave;M SẠCH TRỌN ĐỜI</p>
        </div>
      </div>

    </div>
    <div class="col-md-3 col-sm-12 col-xs-6 px-2">
      <div class="container__home_footer_box container">

        <div class="col-md-3">
          <img class="img-responsive" src="https://baotinmanhhai.vn/web/uploads/banner/clipboard.png"/>
        </div>
        <div class="col-md-9">
          <h3>ĐẠT CHUẨN</h3>
          <p>KIỂM ĐỊNH QUỐC GIA G.I.V&nbsp;&amp; <strong><a onMouseOver="this.style.color='gold'"
                                                            onMouseOut="this.style.color='#337ab7'"
                                                            style="color:#337ab7 "
                                                            href="/bai-viet/bao-tin-manh-hai-chinh-thuc-duoc-nha-nuoc-cap-phep-kinh-doanh-vang-mieng-tai-viet-nam">ĐƯỢC
            NH&Agrave; NƯỚC CẤP PH&Eacute;P MUA B&Aacute;N V&Agrave;NG MIẾNG</a></strong></p></div>
      </div>

    </div>
    <div class="col-md-3 col-sm-12 col-xs-6 px-2">
      <div class="container__home_footer_box container">

        <div class="col-md-3">
          <img class="img-responsive" src="https://baotinmanhhai.vn/web/uploads/banner/star.png"/>
        </div>
        <div class="col-md-9">
          <h3>28 NĂM</h3>
          <p>H&Igrave;NH TH&Agrave;NH V&Agrave; PH&Aacute;T TRIỂN</p>
        </div>

      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-6 px-2">
      <div class="container__home_footer_box container">

        <div class="col-md-3">
          <img class="img-responsive" src="https://baotinmanhhai.vn/web/uploads/banner/gold-medal.png"/>
        </div>
        <div class="col-md-9">
          <h3>TOP 10</h3>
          <p>THƯƠNG HIỆU, NH&Atilde;N HIỆU NỔI TIẾNG 2018</p>
        </div>

      </div>
    </div>

  </div>
</div>
