<div class="container">
    <ul class="list-group list-group-horizontal">

        <li class="d-flex align-item-middle">

            <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
                <img src="./assets/image/left-arrow.png">

            </a>
        </li>
        <li>
            <div class="container">
                <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner w-100" role="listbox">
                        <div class="carousel-item row no-gutters active">
                            <div class="col-3 float-left px-2" *ngFor="let item of slide1">
                                <div class="new-product-content">
                                    <div class="new-product-img"> <img src="https://picsum.photos/300/300?random={{item.id}}" class="img-fluid mx-auto d-block" alt="img1">
                                    </div>
                                    <div class="new-product-tilte">
                                        <a href="#">{{item.name}}</a>
                                    </div>
                                    <div class="new-product-id">{{item.code}}</div>
                                    <div class="new-product-contact">Liên hệ</div>

                                </div>
                            </div>
                            <!-- <div class="col-3 float-left px-2">
                                <div class="new-product-content">
                                    <div class="new-product-img"> <img src="https://baotinmanhhai.vn/web/uploads/product/Originals/bac/bac tre em/vong%20bac%20meo%20kitty.jpg" class="img-fluid mx-auto d-block" alt="img1">
                                    </div>
                                    <div class="new-product-tilte">
                                        <a href="#">Vòng bạc mèo Kitty cho bé MH2 - V180402001</a>
                                    </div>
                                    <div class="new-product-id">Mã sản phẩm: N170825011</div>
                                    <div class="new-product-contact">Liên hệ</div>

                                </div>
                            </div> -->
                            <!-- <div class="col-3 float-left px-2">
                                <div class="new-product-content">
                                    <div class="new-product-img"> <img src="https://baotinmanhhai.vn/web/uploads/product/Originals/vang-ta/nhan nu 24k/Day%2082551_2.jpg" class="img-fluid mx-auto d-block" alt="img1">
                                    </div>
                                    <div class="new-product-tilte">
                                        <a href="#">Vòng bạc mèo Kitty cho bé MH2 - V180402001</a>
                                    </div>
                                    <div class="new-product-id">Mã sản phẩm: N170825011</div>
                                    <div class="new-product-contact">Liên hệ</div>
                                </div>
                            </div>
                            <div class="col-3 float-left px-2">
                                <div class="new-product-content">

                                    <div class="new-product-img"> <img src="https://baotinmanhhai.vn/web/uploads/product/Originals/bac/bac tre em/lac%20bi%20bac%20meo%20kitty%20xanh.jpg" class="img-fluid mx-auto d-block" alt="img1">
                                    </div>
                                    <div class="new-product-tilte">
                                        <a href="#">Vòng bạc mèo Kitty cho bé MH2 - V180402001</a>
                                    </div>
                                    <div class="new-product-id">Mã sản phẩm: N170825011</div>
                                    <div class="new-product-contact">Liên hệ</div>

                                </div>
                            </div>
                            <div class="col-3 float-left px-2">
                                <div class="new-product-content">

                                    <div class="new-product-img"> <img src="https://baotinmanhhai.vn/web/uploads/product/Originals/bac/bac tre em/vong%20bac%20meo%20kitty.jpg" class="img-fluid mx-auto d-block" alt="img1">
                                    </div>
                                    <div class="new-product-tilte">
                                        <a href="#">Vòng bạc mèo Kitty cho bé MH2 - V180402001</a>
                                    </div>
                                    <div class="new-product-id">Mã sản phẩm: N170825011</div>
                                    <div class="new-product-contact">Liên hệ</div>

                                </div>
                            </div> -->
                        </div>
                        <div class="carousel-item row no-gutters">
                            <div class="col-3 float-left px-2" *ngFor="let item of slide2">
                                <div class="new-product-content">
                                    <div class="new-product-img"> <img src="https://picsum.photos/300/300?random={{item.id}}" class="img-fluid mx-auto d-block" alt="img1">
                                    </div>
                                    <div class="new-product-tilte">
                                        <a href="#">{{item.name}}</a>
                                    </div>
                                    <div class="new-product-id">{{item.code}}</div>
                                    <div class="new-product-contact">Liên hệ</div>

                                </div>
                            </div>
                            <!-- <div class="col-3 float-left px-2">
                                <div class="new-product-content">
                                    <div class="new-product-img"> <img src="https://baotinmanhhai.vn/web/uploads/product/Originals/vang tay 2018/lắc/day3-169.jpg" class="img-fluid mx-auto d-block" alt="img1">
                                    </div>
                                    <div class="new-product-tilte">
                                        <a href="#">Vòng bạc mèo Kitty cho bé MH2 - V180402001</a>
                                    </div>

                                    <div class="new-product-id">Mã sản phẩm: N170825011</div>
                                    <div class="new-product-contact">Liên hệ</div>

                                </div>
                            </div>
                            <div class="col-3 float-left px-2">
                                <div class="new-product-content">
                                    <div class="new-product-img"> <img src="https://baotinmanhhai.vn/web/uploads/product/Originals/vang-ta/nhan nu 24k/Day%2082551_2.jpg" class="img-fluid mx-auto d-block" alt="img1">
                                    </div>
                                    <div class="new-product-tilte">
                                        <a href="#">Vòng bạc mèo Kitty cho bé MH2 - V180402001</a>
                                    </div>
                                    <div class="new-product-id">Mã sản phẩm: N170825011</div>
                                    <div class="new-product-contact">Liên hệ</div>
                                </div>
                            </div>
                            <div class="col-3 float-left px-2">
                                <div class="new-product-content">

                                    <div class="new-product-img"> <img src="https://baotinmanhhai.vn/web/uploads/product/Originals/bac/bac tre em/vong%20bac%20meo%20kitty.jpg" class="img-fluid mx-auto d-block" alt="img1">
                                    </div>
                                    <div class="new-product-tilte">
                                        <a href="#">Vòng bạc mèo Kitty cho bé MH2 - V180402001</a>
                                    </div>
                                    <div class="new-product-id">Mã sản phẩm: N170825011</div>
                                    <div class="new-product-contact">Liên hệ</div>

                                </div>
                            </div> -->
                        </div>
                    </div>

                </div>
            </div>
        </li>

        <li class="d-flex align-item-middle">
            <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
                <img src="./assets/image/right-arrow.png">

            </a>
        </li>
    </ul>
</div>