
<div class="header__top_menu d-none d-lg-block">
  <div class="container">
    <div class="header__top_menu_hotline">
      <ul style="float: left">
        <li class="header__top_menu_hotline-phone">
          <a class="header__top_menu_hotline-phone_a">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-telephone" viewBox="0 0 16 16">
              <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg>
            024 22 33 9999
          </a>
        </li>
        <li class="header__top_menu_hotline-email">
          <a class="header__top_menu_hotline-email_a">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-envelope" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
            </svg>
            Contact@baotinmanhhai.vn
          </a>
        </li>
      </ul>
    </div>
    <div class="header__top_menu_support">
      <ul style="float: right">
        <li class="header__top_menu_hotline-support">
          <a class="header__top_menu_hotline-support_a"
             href="/ho-tro-mua-hang/huong-dan-mua-hang">
            Hướng dẫn mua hàng
          </a>
        </li>
        <li class="header__top_menu_hotline-login">
          <a class="header__top_menu_hotline-login_a">
            Đăng nhập
          </a>
        </li>
        <li class="header__top_menu_hotline-register">
          <a class="header__top_menu_hotline-register_a">
            Đăng ký
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="header__below">
  <div class="container">
    <div class="col-lg-12 col-md-12">
      <div class="row" style="display: inline-flex">
        <div class="col-lg-2 col-md-3">
          <div class="col-lg-12 col-md-12 col-xs-3 col-sm-3">
            <a>
              <img class="img-responsive" src="assets/images/logo.png"/>
            </a>
          </div>
        </div>
        <div class="col-lg-10 col-md-9">
          <div class="header__below_menu_top col-lg-12 col-md-12">
            <ul class="list-group list-group-horizontal-lg">
              <li>
                <a href="/cua-hang">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-house-door" viewBox="0 0 16 16">
                    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
                  </svg>
                  Hệ thống cửa hàng
                </a>
              </li>
              <li>
                <a href="/the-uu-dai">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-credit-card-2-front" viewBox="0 0 16 16">
                    <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                    <path d="M2 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
                  </svg>
                  Thẻ ưu đãi BTMH
                </a>
              </li>
              <li>
                <a href="/order/cart">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-cart3" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                  </svg>
                  Giỏ hàng
                </a>
              </li>
              <li>
                <form accept-charset="UTF-8" id="search"
                      action="/product/search" role="form"
                      method="post">
                  <div class="input-group">
                    <input style="" type="text" id="input_search" name="q" class="required search"
                           placeholder="Tìm kiếm trang sức đẹp …">
                    <button type="submit" class="button_mini btn">

                    </button>
                  </div>
                </form>
              </li>
            </ul>
          </div>
          <div class="header__below_menu_below col-lg-12 col-md-12" style="background-color: #9E1B30">

            <ul class="list-group list-group-horizontal-lg">
              <li>
                <a href="">
                  Trang chủ
                </a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                  <span class="nav-label">Giao dịch</span><span class="caret"></span>
                </a>

                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">

                  <li class="dropdown-submenu">
                    <a  class="dropdown-item"  href="#">Vàng</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a href="#">Tỷ giá</a></li>
                      <li class="dropdown-item"><a routerLink="/transaction">Mua bán</a></li>
                      <li class="dropdown-item"><a href="#">Export</a></li>
                    </ul>
                  </li>

                  <li class="dropdown-submenu">
                    <a  class="dropdown-item"  href="#">USD</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a href="#">Tỷ giá</a></li>
                      <li class="dropdown-item"><a routerLink="/transaction">Mua bán</a></li>
                      <li class="dropdown-item"><a href="#">Export</a></li>
                    </ul>
                  </li>

                </ul>

              </li>



              <li>
                <a href="/san-pham">
                  Sản phẩm
                </a>

              </li>
              <li>
                <a href="/bo-suu-tap">
                  Bộ sưu tập
                </a>

              </li>
              <li>
                <a href="/tin-tuc">
                  Tin tức
                </a>
              </li>
              <li>
                <a href="/videos">
                  Video
                </a>
              </li>
              <li>
                <a href="/bo-suu-tap/sale">

                  Sale
                </a>
              </li>
              <li>
                <a href="">
                  Thần Tài
                </a>
              </li>
              <li>
                <a href="/lien-he">
                  Liên hệ
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
