
    <div class="header d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7 header_leftmenu" style="padding: 0;">
                    <ul class="header_list list-inline">
                    <li class="list-inline-item">
                        <a href="#"> 
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            024 22 33 9999 
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"> 
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            Contact@baotinmanhhai.com 
                        </a>
                    </li>
                </ul>
                </div>
                <div class="col-lg-4 col-md-5 header_rightmenu" style="padding: 0;">
                    <ul class="header_list list-inline">
                        <li class="list-inline-item">
                            <a href="#">Buying guide</a> 
                        </li>
                        <li class="list-inline-item"> 
                            <a href="#">Login</a> 
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 

    <!-- ---------------------------------------------------------------- -->
    <div class="fixed_menu fixed-top d-none" id="fixed_top_menu" >
        <div class="container"> 
            <div class="row">
                <div class="col-lg-2 col-md-3">
                    <a href="">
                        <img src="./assets/images/logo.png" class="img-responsive top-logo-fixed" alt=""> 
                    </a>
                </div>

                <div class="col-lg-10 col-md-9 fixed_menu_list">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            
                        </li>
                        <li class="list-inline-item">
                            <a routerLink="">HOME</a> 
                        </li>
                        <li class="list-inline-item">
                            
                        </li>
                        <li class="list-inline-item">
                            <a href="#">PRODUCT</a> 
                        </li>
                        <li class="list-inline-item">
                            <a href="#">COLLECTION</a> 
                        </li>
                        <li class="list-inline-item">
                            <a href="#">NEWS</a> 
                        </li>
                        <li class="list-inline-item">
                            <a href="#">VIDEO</a> 
                        </li>
                        <li class="list-inline-item">
                            <a href="#">SALE</a> 
                        </li>
                        <li class="list-inline-item">
                            <a href="#">GOD OF WEALTH</a> 
                        </li>
                        <li class="list-inline-item">
                            <a href="#">CONTACT</a> 
                        </li>
                    </ul>

                </div>
            </div>
            
            </div>
        </div>

        <div class="fixed_menu_search d-lg-none fixed-top" id="fixed_top_menu_search" >
            <div class="fixed_menu_search_top">
            <div class="container">
                <div class="row">
                    <div class="col col-sm-3 col-md-3" style="">
                        <a href="">
                            <img src="./assets/images/logo.png" class="img-responsive top-logo-fixed" alt=""> 
                        </a>
                    </div>
    
                    <div class="col col-sm-7 col-md-7 fixed_menu_search_bar" >
                        <input type="text" placeholder="Search for jewellery...">
                        <button type="button" class="btn btn-primary border-0" style="background-color: #9E1B30; width: 20%;">
                            <i class="fas fa-search"></i>
                        </button>
    
                    </div>                

                    <div class="col col-sm-2 col-md-2">
                        <a href="javascript:void(0);" id="hambuger_icon_click" (click)="hambugerClickFunction()">
                        <i class="fa fa-bars hambuger_icon fa-2x"></i>
                        </a>
                    </div>
                </div>
                
            </div>
            </div>

            <div class="fixed_menu_search_nav">
                <div class="container">
                    <div class="col-md-12 col-xs-12 d-none" id="fixed_search_nav" style="background-color: white; opacity: 0.9;">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a routerLink="">HOME</a> 
                            </li>
                            <li class="list-inline-item">
                                <a>TRANSACTION</a> 
                            </li>
                            <li class="list-inline-item">
                                <a href="#">PRODUCT</a> 
                            </li>
                            <li class="list-inline-item">
                                <a href="#">COLLECTION</a> 
                            </li>
                            <li class="list-inline-item">
                                <a href="#">NEWS</a> 
                            </li>
                            <li class="list-inline-item">
                                <a href="#">VIDEO</a> 
                            </li>
                            <li class="list-inline-item">
                                <a href="#">SALE</a> 
                            </li>
                            <li class="list-inline-item">
                                <a href="#">GOD OF WEALTH</a> 
                            </li>
                            <li class="list-inline-item">
                                <a href="#">CONTACT</a> 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="fixed_menu_search_nav_mobile">
                    <div class="col-md-12 col-xs-12 d-none" id="fixed_search_nav_mobile" style="background-color: white; opacity: 0.9;">
                        <ul>
                            <li>
                                <a routerLink="">HOME</a> 
                            </li>
                            <li>
                                <a>TRANSACTION</a> 
                            </li>
                            <li>
                                <a href="#">PRODUCT</a> 
                            </li>
                            <li>
                                <a href="#">COLLECTION</a> 
                            </li>
                            <li>
                                <a href="#">NEWS</a> 
                            </li>
                            <li>
                                <a href="#">VIDEO</a> 
                            </li>
                            <li>
                                <a href="#">SALE</a> 
                            </li>
                            <li>
                                <a href="#">GOD OF WEALTH</a> 
                            </li>
                            <li>
                                <a href="#">CONTACT</a> 
                            </li>

                            <li>
                                <a href="#">LOGIN</a> 
                            </li>
                            <li>
                                <a href="#">REGISTER</a> 
                            </li>
                        </ul>
                    </div>
            </div>

        </div>
            

    <!-- ---------------------------------------------------------------- -->
    <div class="header_below d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 top-logo-store">
                    <a href="">
                        <img src="./assets/images/logo.png" class="img-responsive top-logo" alt=""> 
                    </a>
                </div>
        
                <div class="col-lg-10 col-md-9">
                    <!-- <div class="row"> -->
                        <div class="col-lg-12 col-md-12 header_below_toplist">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <a href="#">Store directory</a> 
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                                    <a href="#"> BTMH Preferred card </a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <a href="#"> Cart (0) </a>
                                </li>
                                <li class="list-inline-item"> 
                                    <input type="text" placeholder="Search for jewellery...">
                                    <button type="button" class="btn btn-primary border-0" style="background-color: #9E1B30;">
                                        <i class="fas fa-search"></i>
                                    </button>
                                
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="clearfix"></div> -->
                        <!-- <div class="w-100"></div> -->
                        <div class="col-lg-12 col-md-12 header_below_belowlist">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    
                                </li>
                                <li class="list-inline-item">
                                    <a routerLink="">HOME</a> 
                                </li>
                                <li class="list-inline-item dropdown">
                                    <a class="dropdown-toggle" id="transaction_dropdownmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >TRANSACTION</a>
                                        <div class="dropdown-menu dropright" aria-labelledby="transaction_dropdownmenu">
                                            <a class="dropdown-item dropdown-toggle" id="gold_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="goldtransaction">GOLD</a>
                                            <ul class="dropdown-menu" aria-labelledby="gold_dropdown">
                                                <li class="dropdown_item"><a routerLink="goldrate">GOLD RATE</a></li>
                                                <li class="dropdown_item"><a routerLink="buysell">GOLD BUY AND SELL</a></li>
                                                <li class="dropdown_item"><a routerLink="export">EXPORT</a></li>
                                              </ul>  
                                            <a class="dropdown-item" href="#">DOLLAR</a>
                                        </div>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">PRODUCT</a> 
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">COLLECTION</a> 
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">NEWS</a> 
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">VIDEO</a> 
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">SALE</a> 
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">GOD OF WEALTH</a> 
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">CONTACT</a> 
                                </li>
                            </ul>
                        </div>
                    <!-- </div> -->
                </div>
                
            </div>
            
            </div>
        
    </div>    
    
